@use "sass:color";

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0px 30px;
    height: 60px;
    margin: 0;
    background-color: #f5f5f5;

    .header__left__side {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

        h3 {
            color: rgb(42, 42, 201);
        }
        
    }

    .header__right__side {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .add__contact__button {
        padding: 10px 13px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: #f5f5f5;
        background-color: #f43030;
        transition: background-color 0.3 ease;

        &:hover {
            background-color: color.adjust(#f03636, $lightness: -15%);
        }

        &:focus {
            border: none;
        }
    }

    .group__button {
        padding: 10px 13px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: #f5f5f5;
        background-color: blue;
        transition: background-color 0.3 ease;

        &:hover {
            background-color: color.adjust(blue, $lightness: -15%);
        }

        &:focus {
            border: none;
        }
    }
}